# Distribution and Packaging
*.pyc
*.DS_Store
build/
dist/
*.coverage
*.egg-info/
hera_opm/GIT_INFO
pip-wheel-metadata

# Sphinx documentation
docs/_build
docs/_static
docs/_templates

# Data files
hera_opm/data/test_output/*

# Test notebooks
hera_opm/notebooks
hera_opm/.ipynb_checkpoints/

# Backup Files
*~
