# Distribution and Packaging
*.pyc
*.DS_Store
build/
dist/
*.coverage
*.egg-info/
.eggs
hera_opm/GIT_INFO
pip-wheel-metadata
coverage.xml

# Sphinx documentation
docs/_build
docs/_static
docs/_templates

# Data files
hera_opm/data/test_output/*

# Test notebooks
hera_opm/notebooks
hera_opm/.ipynb_checkpoints/

# version file
*/_version.py
# Backup Files
*~
